@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "How it works";
}<section id="main" class="container">
    <h1>HOW IT WORKS</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/GAKTA2mlUDI" frameborder="0" allowfullscreen=""></iframe>
    <p>The SunLight Satellite Modem is a two-way, high throughput modem. It is combined with a range of different antenna sizes and interactive LNB`s forming a cost-effective satellite terminal on the Sat3Play platform.</p>
    <h2>Benefits</h2>
    <h3>SunLight Satellite Modem</h3>
    <p>The modem supports various IP services like internet/intranet access, VoIP and multicasting. Its ease of installation and high performance modulation techniques enable network operators to offer IP broadband services in a cost effective way over Ku- and Ka-band networks. It is perfectly suited for service home users, Small Office and Home Office (SOHO), Small and Medium Enterprises (SME) as well as supporting applications like telemetry networks, Point Of Sale (POS) or banking.</p>
    <h3>Cost Effective Service Offerings</h3>
    <p>Thanks to a unique design of both the compact modem and the interactive LNB (iLNB), the cost of the terminal is kept minimal. The IP Satellite Modem is available with unique Point &amp; Play easy-installation technology, supporting installation of the complete terminal without any specific qualification or expensive tooling. Point &amp; Play provides correct satellite identification and facilitates pointing with an audio feedback. After mounting and positioning, the integrated certification assures correct installation by giving instant link quality approval. It guarantees that each terminal works at maximum efficiency without any interference risk.</p>
    <h3>True Broadband Experience</h3>
    <p>For a true broadband experience, the IP Satellite Modem incorporates the most efficient technologies available, such as DVB-S2 Adaptive Coding Modulation (ACM) in the forward link, an adaptive return link with advanced 4CPM modulation and IP traffic enhancement software for TCP acceleration, pre-fetching, compression and encryption.</p>
    <h3>Satellite Terminals</h3>
    <p>The SunLight Satellite Modem is packaged with an easy to install and high performance Outdoor Unit (ODU). This terminal package is highly optimized for cost, efficiency and ease of use. The ODU consists of a high quality, easy to install antenna, an integrated transmitter and low noise block down converter (iLNB).</p>
    <h3>Straightforward Logistics</h3>
    <p>The SunLight terminal can be delivered fully packaged, country and distribution customized. The 75cm &amp; 100 cm antenna is offered in a single box including modem, full ODU and additional options: RF cable, Ethernet cable, documentation and Point&amp;Play device. All antennas can also be shipped in bulk for e.g. cost optimized sea freight. With this offer, local logistics become straightforward by removing the need for local packaging.</p>
    <h3>Power Efficiency</h3>
    <p>The SunLight return technology is compatible with fully saturated transmitters. On top of the power efficient technology, the saturated output power gives even higher power efficiency.</p>
    <h3>Ease of Installation</h3>
    <p>The antenna mast-head for 75 cm and 1 m antennas is completely pre-mounted, and does not require additional assembly work. The complete ODU Portfolio is compatible with Point&amp;Play easy-installation technology, supporting the installation of the complete terminal without any specific qualification or expensive tooling needed.</p>
    <h3>Wide Coverage and Flexibility</h3>
    <p>The antenna portfolio covers both Ku- and Ka-band for different sizes. For 75 cm and 1 m the antennas can be used both in Ku- and Ka-band. Therefore a network in Ku-band can be set up and then, at the appropriate time, transferred to Ka-band with limited extra investment needed.</p>
</section>
